@model RecruiterWorkflow.Models.Candidate

@{
	ViewData["Title"] = "Edit";
}

<h3>Edit a Candidate!</h3>

<form asp-action="Edit" method="post">
	<div class="form-group">
		<label for="FirstName">Firstname</label>
		<input type="text" class="form-control" asp-for="FirstName" />
	</div>
	<div class="form-group">
		<label for="LastName">Lastname</label>
		<input type="text" class="form-control" asp-for="LastName" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>