@model List<RecruiterWorkflow.Models.Match>
@{
	ViewData["Title"] = "Index";
}
<h3>Index</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var match in Model)
		{
			<tr>
				<td>@match.CandidateId</td>
				<td>@match.JobId</td>
				<td>@match.Status</td>
				<td>
					<a asp-action="Delete" asp-route-id="@match.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>