@model RecruiterWorkflow.Models.Candidate

@{
	ViewData["Title"] = "Delete";
}

<h3>Delete a Candidate!</h3>

<p>@Model.FirstName</p>
<p>@Model.LastName</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id" />
	<input type="submit" class="btn btn-danger" value="Delete" />
</form>